{% extends '../base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block style %}
.stream-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}

.live-stream {
    flex: 3;
    border: 3px solid #4caf50;
    border-radius: 10px;
    overflow: hidden;
}

.live-stream img {
    width: 100%;
    height: auto;
    display: block;
}

.chat {
    flex: 1;
    background: #f7f7f7;
    border: 3px solid #4caf50;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chat-header {
    background: #4caf50;
    color: white;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #388e3c;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    margin-bottom: 3px;
    padding: 5px;
    border-radius: 5px;
}

.message p {
    margin: 0;
}

.send {
    background-color: #e8f5e9;
    align-self: flex-end;
    text-align: right;
}

.receive {
    background-color: #ffecb3;
    align-self: flex-start;
    text-align: left;
}

.msg-time {
    font-size: 10px;
    color: #757575;
}

.chat-input {
    display: flex;
    border-top: 2px solid #4caf50;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 0;
    font-size: 14px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #388e3c;
}
{% endblock %}
{% block body %}
<div class="stream-container">
    <div class="live-stream">
        <video style="width: 100%;" id="live-stream" autoPlay playsInline src="" alt="Live Stream">
    </div>
    <div class="chat">
        <div class="chat-header">Live Chat</div>
        <div class="messages" id="messages">
        </div>
        <div class="chat-input">
            <input id="message_input" placeholder="Enter your message" />
            <button id="send-message">Send</button>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
document.addEventListener("DOMContentLoaded", async function () {
    const stream_id = "{{stream_id}}";
    const user = "{{user}}";
    const is_super_user = "{{user_type}}";

    const currentTime = ()=>{
        const now = new Date();
    
        let hours = now.getHours();
        const minutes = now.getMinutes();
        const isAM = hours < 12;
    
        hours = hours % 12 || 12; // Converts hour '0' to '12'
    
        const formattedMinutes = minutes.toString().padStart(2, '0');
    
        const period = isAM ? 'AM' : 'PM';
    
        return `${hours}:${formattedMinutes}${period}`;
    };

    const addMessage = (type, msg, sender)=>{
        const messagesContainer = document.getElementById('messages');
        const messageParentEle = document.createElement('div');
        const messageEle = document.createElement('p');
        const messageTimeEle = document.createElement('span');
        messageParentEle.classList = `${type} message`;
        messageTimeEle.classList = 'msg-time';
        messageEle.textContent = msg;
        messageTimeEle.innerHTML = `<strong>${sender}</strong> ${currentTime()}`;
        messageParentEle.appendChild(messageEle);
        messageParentEle.appendChild(messageTimeEle);
        messagesContainer.appendChild(messageParentEle);
        document.getElementById('message_input').value = '';
    };

    // ****************************** WebRTC ****************************** //
    peerRef = null;
    ws = null;
    let loaclStream = new MediaStream();
    remoteVideo = document.getElementById('live-stream');
    if (is_super_user == 'True'){
        navigator.mediaDevices.getUserMedia({
            video: true,
            audio: true,
        })
        .then((stream)=>{
            loaclStream = stream;
            remoteVideo.srcObject = stream;
        })
        .catch((err)=>{
            console.log('Error:', err);
        });
    }

    const sendSignal = (action, message)=>{
        let jsonStr = JSON.stringify({
            'peer': user,
            'action': action,
            'message': message,
        });
        ws.send(jsonStr);
    };

    const createOffer = (receive_channel_name)=>{
        let peer = new RTCPeerConnection(null);

        addLocalTracks(peer);

        setOnTrack(peer);
    
        peer.addEventListener('iceconnectionstatechange', ()=>{
            let iceConnectionState = peer.iceConnectionState;
            if (iceConnectionState === 'failed' || iceConnectionState === 'disconnected' || iceConnectionState === 'closed'){
                console.log('User disconnected.');
    
                if (iceConnectionState != 'closed'){
                    peer.close();
                }
            }
            if (iceConnectionState === 'connected'){
                console.log('User connected.');
            }
        });
    
        peer.addEventListener('icecandidate', (event)=>{
            if (event.candidate){
                return;
            };
            sendSignal('new-offer', {
                'sdp': peer.localDescription,
                'receive_channel_name': receive_channel_name,
            })
        });
    
        peer.createOffer().
        then(o => peer.setLocalDescription(o))
        .then(()=>{
        });

        peerRef = peer;
    };

    const addLocalTracks = (peer)=>{
        loaclStream.getTracks().forEach(track=>{
            peer.addTrack(track, loaclStream);
        });
    };

    const setOnTrack = (peer)=>{
        console.log('Remote Video:', remoteVideo, 'Super User:', is_super_user);
        if (remoteVideo && is_super_user != 'True'){
            let remoteStream = new MediaStream();
            // remoteVideo.srcObject = remoteStream;
            remoteVideo.play();
            peer.addEventListener('track', async(event)=>{
                console.log('Track received:', remoteStream.getTracks());
                // remoteStream.addTrack(event.track, remoteStream);
                remoteStream.addTrack(event.track);
                remoteVideo.srcObject = remoteStream;
                remoteVideo.muted = true;
                remoteVideo.play().then(() => {
                    console.log('Video started muted');
                    document.getElementById('unmute-button').addEventListener('click', () => {
                        remoteVideo.muted = false;
                        console.log('Audio unmuted');
                    });
                }).catch(error => {
                    console.error('Autoplay failed:', error);
                });
            });
        };
    };

    const createAnswer = (offer, receive_channel_name)=>{
        let peer = new RTCPeerConnection(null);

        addLocalTracks(peer);

        setOnTrack(peer);

        peer.addEventListener('iceconnectionstatechange', ()=>{
            let iceConnectionState = peer.iceConnectionState;
            if (iceConnectionState === 'failed' || iceConnectionState === 'disconnected' || iceConnectionState === 'closed'){
                console.log('User disconnected.');

                if (iceConnectionState != 'closed'){
                    peer.close();
                };
            }
            if (iceConnectionState === 'connected'){
                console.log('User connected.');
            }
        });

        peer.addEventListener('icecandidate', (event)=>{
            if (event.candidate){
                return;
            };
            sendSignal('new-answer', {
                'sdp': peer.localDescription,
                'receive_channel_name': receive_channel_name,
            })
        });
    
        peer.setRemoteDescription(offer)
        .then(()=>{
            return peer.createAnswer();
        })
        .then((a)=>{
            peer.setLocalDescription(a);
        });

        peerRef = peer;
    };

    const wsMessagehandler = (event)=>{
        let parsedData = JSON.parse(event.data);
        let peerUser = parsedData['message']['peer'];
        let action = parsedData['message']['action'];

        if (user === peerUser){
            return;
        }

        let receive_channel_name = parsedData['message']['receive_channel_name'];

        if (action === 'new-peer'){
            createOffer(receive_channel_name)
            return;
        }

        if (action === 'new-offer'){
            let offer = parsedData['message']['message']['sdp'];
            let receive_channel_name = parsedData['message']['message']['receive_channel_name'];
            createAnswer(offer, receive_channel_name);
            return;
        }
    
        if (action === 'new-answer'){
            let answer = parsedData['message']['message']['sdp'];
            peerRef.setRemoteDescription(answer);
            return;
        };
    };

    const WS_URL = `ws://${window.location.host}/stream/live/${stream_id}/`;

    ws = new WebSocket(WS_URL);

    ws.addEventListener('open', (e)=>{
        sendSignal('new-peer', {});
    });

    ws.addEventListener('message', wsMessagehandler);

    ws.addEventListener('close', (e)=>{
    });

    ws.addEventListener('error', ()=>{
    });

});
{% endblock %}