{% extends '../base.html' %}
{% block title %}{{ stream.title }}{% endblock %}
{% block style %}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.stream-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.stream-info {
    text-align: center;
    margin-bottom: 15px;
}

.stream-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.stream-chat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.live-stream {
    position: relative;
    flex: 1;
    max-width: 700px;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}

.chat {
    flex: 1;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.live-users-count {
    color: #007BFF;
}

.messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 5px;
    overflow-y: auto;
    max-height: 300px;
}

.message {
    margin-bottom: 3px;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1px solid gray;
}

.send {
    background-color: #e8f5e9;
    align-self: flex-end;
    text-align: right;
}

.receive {
    background-color: #ffecb3;
    align-self: flex-start;
    text-align: left;
}

.chat-input {
    display: flex;
    gap: 10px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chat-input button:hover {
    background-color: #0056b3;
}

.close-stream-btn {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.close-stream-btn:hover {
    background-color: #e60000;
}

#stream-options {
    display: none;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

#mic-button, #camera-button {
    background-color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#mic-icon, #camera-button {
    font-size: 24px;
    color: black;
}

#mic-button:hover, #camera-button:hover {
    background-color: #f0f0f0; /* Slight hover effect */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .stream-chat-container {
        flex-direction: column;
        align-items: center;
    }

    .live-stream {
        max-width: 100%;
    }

    .chat {
        max-width: 100%;
    }
}
{% endblock %}
{% block body %}
<div class="stream-container">
    <div class="stream-info">
        <p class="stream-title">{{stream.title}} by {{stream.created_by.username}}</p>
    </div>
    <div class="stream-chat-container">
        <div class="live-stream">
            <video style="width: 100%;" id="live-stream" autoPlay playsInline src="" alt="Live Stream"></video>
            <div id="stream-options">
                <button id="mic-button">
                    <i id="mic-icon" class="bi bi-mic-fill"></i>
                </button>
                <button id="camera-button">
                    <i id="camera-icon" class="bi bi-camera-video-fill"></i>
                </button>
            </div>
        </div>
        <div class="chat">
            <div class="chat-header">
                <span>Live Chat</span>
                <span class="live-users-count">Live Users: <span id="live-members">0</span></span>
            </div>
            <div class="messages" id="messages"></div>
            <div class="chat-input">
                <input id="message_input" placeholder="Enter your message" />
                <button id="send-message">Send</button>
            </div>
            {% if request.user.is_superuser %}<button id="close-stream" class="close-stream-btn">Close Stream</button>{% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
document.addEventListener("DOMContentLoaded", async function () {
    const stream_id = "{{stream.unique_key}}";
    const user = "{{request.user.username}}";
    const is_super_user = "{{request.user.is_superuser}}";

    const currentTime = () => {
        const now = new Date();
    
        let hours = now.getHours();
        const minutes = now.getMinutes();
        const seconds = now.getSeconds(); // Get the current seconds
        const isAM = hours < 12;
    
        hours = hours % 12 || 12; // Converts hour '0' to '12'
    
        const formattedMinutes = minutes.toString().padStart(2, '0');
        const formattedSeconds = seconds.toString().padStart(2, '0'); // Format seconds to two digits
    
        const period = isAM ? 'AM' : 'PM';
    
        return `${hours}:${formattedMinutes}:${formattedSeconds} ${period}`; // Include seconds in the output
    };

    const scrollToBottom = () => {
        const messagesContainer = document.getElementById('messages');
        messagesContainer.scrollTop = messagesContainer.scrollHeight;
    };

    const addMessage = (type, msg, sender)=>{
        const messagesContainer = document.getElementById('messages');
        const messageParentEle = document.createElement('div');
        const messageEle = document.createElement('p');
        const messageTimeEle = document.createElement('span');
        messageParentEle.classList = `${type === 'connection' ? 'left' : type} message`;
        messageTimeEle.classList = 'msg-time';
        messageEle.innerHTML = msg;
        messageTimeEle.innerHTML = type === 'connection' ? currentTime() : `<strong>${sender}</strong> ${currentTime()}`;
        messageParentEle.appendChild(messageEle);
        messageParentEle.appendChild(messageTimeEle);
        messagesContainer.appendChild(messageParentEle);
        scrollToBottom();
    };

    const sendMessageEle = document.getElementById('send-message');
    sendMessageEle.addEventListener('click', ()=>{
        const message = document.getElementById('message_input').value;
        if (message.trim()){
            sendMessage('chat', message, user);
            document.getElementById('message_input').value = '';
        };
    });

    // ****************************** WebRTC ****************************** //
    peerRef = null;
    ws = null;
    let localStream = new MediaStream();
    remoteVideo = document.getElementById('live-stream');
    if (is_super_user == 'True'){
        const streamOptions = document.getElementById('stream-options');
        const micButton = document.getElementById('mic-button');
        const micIcon = document.getElementById('mic-icon');
        const videoButton = document.getElementById('camera-button');
        const videoIcon = document.getElementById('camera-icon');
    
        navigator.mediaDevices.getUserMedia({
            video: true,
            audio: true,
        })
        .then((stream)=>{
            localStream = stream;
            remoteVideo.srcObject = stream;
            streamOptions.style.display = 'flex';
            micButton.addEventListener('click', () => {
                const audioTrack = localStream.getAudioTracks()[0];
                if (audioTrack.enabled) {
                    audioTrack.enabled = false;
                    micIcon.classList.remove('bi-mic-fill');
                    micIcon.classList.add('bi-mic-mute-fill');
                } else {
                    audioTrack.enabled = true;
                    micIcon.classList.remove('bi-mic-mute-fill');
                    micIcon.classList.add('bi-mic-fill');
                }
            });
            videoButton.addEventListener('click', () => {
                const videoTrack = localStream.getVideoTracks()[0];
                if (videoTrack.enabled) {
                    videoTrack.enabled = false;
                    videoIcon.classList.remove('bi-camera-video-fill');
                    videoIcon.classList.add('bi-camera-video-off-fill');
                } else {
                    videoTrack.enabled = true;
                    videoIcon.classList.remove('bi-camera-video-off-fill');
                    videoIcon.classList.add('bi-camera-video-fill');
                }
            });
        })
        .catch((err)=>{
            alert('Camera access failed!')
        });
    }

    const sendMessage = (action, message, sender=null)=>{
        let jsonStr = JSON.stringify({
            'peer': user,
            'action': action,
            'message': message,
            'sender': sender,
        });
        ws.send(jsonStr);
    };

    const createOffer = (receive_channel_name)=>{
        let peer = new RTCPeerConnection(null);

        addLocalTracks(peer);

        setOnTrack(peer);
    
        peer.addEventListener('iceconnectionstatechange', ()=>{
            let iceConnectionState = peer.iceConnectionState;
            if (iceConnectionState === 'failed' || iceConnectionState === 'disconnected' || iceConnectionState === 'closed'){
    
                if (iceConnectionState != 'closed'){
                    peer.close();
                }
            }
            if (iceConnectionState === 'connected'){
            }
        });
    
        peer.addEventListener('icecandidate', (event)=>{
            if (event.candidate){
                return;
            };
            sendMessage('new-offer', {
                'sdp': peer.localDescription,
                'receive_channel_name': receive_channel_name,
            })
        });
    
        peer.createOffer().
        then(o => peer.setLocalDescription(o))
        .then(()=>{
        });

        peerRef = peer;
    };

    const addLocalTracks = (peer)=>{
        localStream.getTracks().forEach(track=>{
            peer.addTrack(track, localStream);
        });
    };

    const setOnTrack = (peer)=>{
        if (remoteVideo && is_super_user != 'True'){
            let remoteStream = new MediaStream();
            remoteVideo.play();
            peer.addEventListener('track', async(event)=>{
                remoteStream.addTrack(event.track);
                remoteVideo.srcObject = remoteStream;
                remoteVideo.muted = true;
                remoteVideo.play().then(() => {
                    remoteVideo.muted = false;
                }).catch(error => {});
            });
        };
    };

    const createAnswer = (offer, receive_channel_name)=>{
        let peer = new RTCPeerConnection(null);

        addLocalTracks(peer);

        setOnTrack(peer);

        peer.addEventListener('iceconnectionstatechange', ()=>{
            let iceConnectionState = peer.iceConnectionState;
            if (iceConnectionState === 'failed' || iceConnectionState === 'disconnected' || iceConnectionState === 'closed'){

                if (iceConnectionState != 'closed'){
                    peer.close();
                };
            }
            if (iceConnectionState === 'connected'){
            }
        });

        peer.addEventListener('icecandidate', (event)=>{
            if (event.candidate){
                return;
            };
            sendMessage('new-answer', {
                'sdp': peer.localDescription,
                'receive_channel_name': receive_channel_name,
            })
        });
    
        peer.setRemoteDescription(offer)
        .then(()=>{
            return peer.createAnswer();
        })
        .then((a)=>{
            peer.setLocalDescription(a);
        });

        peerRef = peer;
    };

    const wsMessagehandler = (event)=>{
        let parsedData = JSON.parse(event.data);
        let peerUser = parsedData['message']['peer'];
        let action = parsedData['message']['action'];

        if (action === 'chat'){
            const message = parsedData['message']['message'];
            const sender = parsedData['message']['sender'];
            addMessage(peerUser === user ? 'send' : 'receive', message, sender);
        }

        if (action === 'close' && is_super_user != 'True'){
            const message = parsedData['message']['message'];
            alert(message);
            window.location.replace('/');
        }

        if (action === 'count-members'){
            const liveMembers = parsedData['message']['members'];
            const target = parsedData['message']['target'];
            const status = parsedData['message']['status'];
            document.getElementById('live-members').textContent = liveMembers;
            addMessage('connection', `<strong>${target}</strong> ${status}.`, '');
            return;
        }

        if (action === 'error'){
            const target = parsedData['message']['target'];
            const message = parsedData['message']['message'];
            if (target === user){
                alert(message);
                ws.close();
                window.location.replace('/');
            }
        }

        if (user === peerUser){
            return;
        }

        let receive_channel_name = parsedData['message']['receive_channel_name'];

        if (action === 'new-peer'){
            createOffer(receive_channel_name)
            return;
        }

        if (action === 'new-offer'){
            let offer = parsedData['message']['message']['sdp'];
            let receive_channel_name = parsedData['message']['message']['receive_channel_name'];
            createAnswer(offer, receive_channel_name);
            return;
        }
    
        if (action === 'new-answer'){
            let answer = parsedData['message']['message']['sdp'];
            peerRef.setRemoteDescription(answer);
            return;
        };
    };

    const WS_URL = `wss://${window.location.host}/stream/live/${stream_id}/${user}/`;

    ws = new WebSocket(WS_URL);

    ws.addEventListener('open', (e)=>{
        sendMessage('new-peer', {});
    });

    ws.addEventListener('message', wsMessagehandler);

    ws.addEventListener('close', (e)=>{
    });

    ws.addEventListener('error', ()=>{
    });

    document.getElementById('close-stream').addEventListener('click', ()=>{
        const status = confirm('Ate you sure want to close this stream?');
        if (status){
            window.location.href = `/`;
        };
    });

});
{% endblock %}